@media(min-width: 1280px) {
    main {
        justify-content: center;
    }
}

@media(max-width: 690px) {
    main {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    form,
    .conteudo {
        margin: 0;
    }
}